<div class="container">
  <div class="row">
    <div class="col-8">
      <% if @event.present? %>
        <p>
          <strong>Start Date:</strong><%= @event&.start_date&.strftime('%d/%m/%y') %>
        </p>
        <p>
          <strong>End Date:</strong><%= @event&.end_date&.strftime('%d/%m/%y') %>
        </p>
        <p>
          <strong>Reason:</strong><%= @event&.reason %>
        </p>
        
      <% end %>
    </div>
  </div>
</div>